asgiref==3.9.1
black==25.1.0
click==8.2.1
Django==5.2.5
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
sqlparse==0.5.3

# Package pour le multilinguisme
django-modeltranslation==0.18.12

# Package pour la gestion des emails
django-email-utils==0.1.0
